html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff"); }
html, body {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro"; }

a {
  font-size: 14px; }

hr {
  width: 480px;
  margin: 50px auto;
  border: thin solid #efefef; }

* {
  font-size: 14px;
  outline: none; }

header {
  text-align: center;
  margin-top: 120px; }

.user-image {
  width: auto;
  height: auto; }

.name {
  font-weight: 600; }

#social-links {
  padding: 0;
  margin: 0; }
  #social-links li {
    list-style-type: none;
    display: inline-block;
    color: #000; }
    #social-links li a {
      text-decoration: none;
      color: #000; }
      #social-links li a:hover {
        color: #ccc; }

.info, .info-dark {
  font-size: 13px;
  font-weight: 300;
  color: #ccc; }
  .info a, .info-dark a {
    text-decoration: none;
    color: #000; }
    .info a:hover, .info-dark a:hover {
      text-decoration: underline; }

.info-dark {
  color: #000;
  font-weight: 400; }

.cc0 {
  color: #000;
  text-decoration: none; }
  .cc0:hover {
    text-decoration: underline; }

#main-container {
  width: 960px;
  margin: 0 auto;
  text-align: center; }
  #main-container img {
    width: 100%; }

.download {
  margin: 10px 0;
  color: #ccc;
  text-align: left; }
  .download a {
    text-decoration: none;
    color: #000; }
    .download a:hover {
      text-decoration: underline; }

.load-more {
  margin: 50px 0 0 0;
  font-weight: 300;
  padding: 15px 100px;
  display: inline-block;
  background: #000;
  border: none;
  color: white;
  text-transform: lowercase; }
  .load-more:hover {
    background: #E3B23C; }

footer {
  text-align: center;
  margin: 50px 0; }

/*# sourceMappingURL=main.css.map */
